<div class="col-md-6 col-lg-4 col-xl-3 py-2">
    <div class="card h-100">
        <div class="card-block">
            <div class="card-header">Header</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">ID: <span id="id"></span></li>
                    <li class="list-group-item">Email: <span id="email"></span></li>
                    <li class="list-group-item">Office Number: <span id="office"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>