<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Build Your Team</title>
</head>

<body>
    <nav class="navbar navbar-light bg-light mb-5">
        <span class="navbar-brand mx-auto mb-0 h1" id="title">jfjf</span>
    </nav>
    <div class="container">
        <div class="row justify-content-center" id="addMember">
            <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                <div class="card h-100">
                    <div class="card-block">
                        <div class="card-header">
                            <h3 id="name">jfjf</h3>
                            <h3>Manager</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">ID: <span id="id">8</span></li>
                                <li class="list-group-item">Email: <span id="email">fjj@jj.jfj</span></li>
                                <li class="list-group-item">Office Number: <span id="office">8</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3 py-2">
                <div class="card h-100">
                    <div class="card-block">
                        <div class="card-header">
                            <h3 id="name">jfjf</h3>
                            <h3>Engineer</h3>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">ID: <span id="id">9</span></li>
                                <li class="list-group-item">Email: <span id="email">jfjf@jj.jj</span></li>
                                <li class="list-group-item">GitHub: <span id="github">jfjf</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

























</body>

</html>